setting.py
settings.py
test.py
testbot.py
pipfile
Pipfile.lock
test2.py
newtest.py
testbot2.py
config.py
*.pyc
Lesons/PythonPrograms/Python lvl 3/M4L1/hidden_img/9.jpeg
Lesons/PythonPrograms/Python lvl 3/M4L1/hidden_img/8.jpeg
Lesons/PythonPrograms/Python lvl 3/M4L1/hidden_img/7.jpeg
Lesons/PythonPrograms/Python lvl 3/M4L1/hidden_img/6.jpg
Lesons/PythonPrograms/Python lvl 3/M4L1/hidden_img/5.jpeg
Lesons/PythonPrograms/Python lvl 3/M4L1/hidden_img/4.jpeg
Lesons/PythonPrograms/Python lvl 3/M4L1/hidden_img/3.jpeg
Lesons/PythonPrograms/Python lvl 3/M4L1/hidden_img/2.jpeg
Lesons/PythonPrograms/Python lvl 3/M4L1/hidden_img/11.jpeg
Lesons/PythonPrograms/Python lvl 3/M4L1/hidden_img/10.jpeg
Lesons/PythonPrograms/Python lvl 3/M4L1/hidden_img/1.jpeg
